.parent{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;width: 100%;
}
.child{
      height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 100px;
    animation: makem 10s ease-in-out  infinite ;
}

@keyframes makem{
    0%{
        transform: scale(1) translateX(0) translateY(210px);
    }
    10%{
        transform: scale(1) translateX(490px) translateY(200px) ;
    }
    30%{
        transform: scale(2) translateX(200px) translateY(-150px) ;
    }
    60%{
        transform: scale(0.9) translateX(300px) translateY(300px)  ;
    }
    80%{
        transform: scale(2) translateX(10px) translateY(-150px) ;
    }
    95%{
        transform: scale(1) translateX(50px) translateY(200px) ;
    }
}