.parent{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;width: 100%;
}
.child{
      height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 100px;
    animation: star 5s ease-in-out  infinite ;
}

@keyframes star{
    0%{
        transform: scale(1) translateX(400px) translateY(200px) ;

    }
    10%{
        transform: scale(1) translateX(-10px) translateY(-300px);
    }
    20%{
        transform: scale(1) translateX(-440px) translateY(200px);
    }
    40%{
        transform: scale(1) translateX(300px) translateY(-230px);
    }
    60%{
        transform: scale(1) translateX(-320px) translateY(-280px);
    }
    80%{
                transform: scale(1) translateX(300px) translateY(320px);
    }
}