
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.box {
    background-color: red;
    width: 200px;
    height: 200px;
    /* transition: background-color 1s ease-in-out, transform 2s ease-in-out; */
    animation: deepak 5s ease-in-out 1;

}

.box:hover {
    background-color: gray;
    /* width: 300px;
    height: 300px; */
    box-shadow: 20px 20px 20px black;
    border-radius: 20px;
    /* transform: scale(0.5) translateX(-500px) translateY(-500px); */
}

@keyframes deepak {
    0%{
        transform: scale(1.2) translateX(500px) translateY(200px);
    }

    50%{
         transform: scale(0.5) translateX(-500px) translateY(-200px); 
    }

    75%{
        transform: translateX(500px);
    }
    
    100%{
        transform: translateX(0px);
    }
}