body {
    height: auto;
    width: 100%;
}

.flex-content {
    display: flex;
    width: 100%;
    height: 85px;

}

header {
    width: 100%;
    position: fixed;
    z-index: 40;
    background: linear-gradient(132deg, black, violet);
}

.flex-content1>img {
    width: 80px;
    height: 70px;
    margin: 10px;
}

.flex-content2 {
    margin-left: 70%;
    margin-top: 30px;
}

.info {
    text-decoration: none;
    color: black;
    margin: 15px;
}

.absolute-content {
    position: absolute;
    height: 430px;
    width: 300px;
    border-radius: 30px;
    margin-left: 5px;
    margin-top: 90px;

}

.card-title {
    margin: 10px;
}

.menu {
    text-decoration: none;
    color: black;
    margin-left: 35px;
}

.dress-menu {
    width: 100px;
    height: 140px;
    border-radius: 300px;
    margin: 10px;
}

.random {
    height: 80px;
    width: 100%;


}

.random2 {
    position: relative;
    margin-left: 400px;
    margin-top: 30px;
    width: 180px;
    height: 300px;
}

.shirt {
    height: 175px;
    width: 150px;
    border-radius: 10px;
    margin-left: 13px;
    margin-top: 10px;
}

.shirtinfo2 {
    text-decoration: none;
    margin: 65px;
}

.checked {
    color: orange;
}

#hard {
    display: flex;
}

.random3 {
    position: relative;
    margin-left: 90px;
    margin-top: 30px;
    width: 180px;
    height: 300px;
}

.random4 {
    position: relative;
    margin-left: 90px;
    margin-top: 30px;
    width: 180px;
    height: 300px;
}

.amnt {
    margin-left: 20px;
}

.like-icon {
    position: absolute;
    font-size: 30px;
    border: none;
    top: 13px;
    left: 70.5%;
}

.likeicon2 {
    position: absolute;
    font-size: 30px;
    border: none;
    top: 13px;
    left: 70.5%;
}

.likeicon3 {
    position: absolute;
    font-size: 30px;
    border: none;
    top: 13px;
    left: 70.5%;
}

.nxtcontent {
    margin-top: 190px;
}

.relatable1 {
    height: 210px;
    width: 400px;

}

.shoes {
    margin-top: 30px;
    width: 150px;
    height: 150px;
}

.shoescnt1 {
    margin-top: 9px;
}
.shoescnt{
    color: orange;
    text-decoration: none;
    padding: 1px;
    font-size: 14px;
}
.amnt1{
    font-size: 20px;
}
.amnt1a{
    margin-left: 20px;
    color: gray;
    text-decoration: line-through;
}
.nxtcontent{
    display: flex;
}
.nxtflx2{
    margin-top: 40px;
    margin-right: 9px;
}
.nxtflx3{
     margin-top: 40px;
    margin-right: 20px;
    margin-left: 10px;
}
.uniq1{
    margin-top: 35px;
}
.uniq2{
    margin-top: 35px;
}
.nxtcontent1{
    display: flex;
}
.nxtcontent2{
    display: flex;
    margin-top: 10px;
}
.relatable1a{
    margin-top: 40px;
}


.forms{
    height: 100px;
     background-color: black;
}
.align>label{
    color: darkgrey;
}
.align{
    margin-top: 30px;
}
footer{
    position: sticky;
    z-index: 50;
    top: 500px;
}
.mens{
    border-radius: 40px;
}