*{
    padding: 0;
    margin: 0;
}
header{
   display: flex;
   width: 100%;
   height: 85px;
   position: fixed;
   background: linear-gradient(132deg,black,violet);
}
.flex-content1>img{
     width: 70px;
     height: 70px;
     margin: 10px;
}
.flex-content2{
  margin-left: 70%;margin-top: 30px;
}
.info{
    text-decoration: none;
    color: black;
    margin: 15px;
}
.absolute-content{
    position: absolute;
    height: 430px;width: 300px;
    border-radius: 30px;margin-left: 5px;
    margin-top: 90px;

}
.card-title{
    margin: 10px;
}
.menu{
    text-decoration: none;
    color: black;
    margin-left: 35px;
}
.dress-menu{
    width: 100px;
    height: 140px;
    border-radius: 300px;
    margin: 10px;
}
.random2{
    margin-left: 400px;
     margin-top: 30px;
     width: 180px;
     height: 300px;
}
.shirt{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    margin-left: 13px;
    margin-top: 10px;
}
.shirtinfo2{
    text-decoration: none;
    margin: 65px;
}
#multicollection{
    margin-top: 80px;
}

.checked{
    color: orange;
}